body{
    background-color: rgb(137, 205, 236);
}
#name_shop{
    margin: 50px 0;
    text-align: center;
}
.card{
    background-color: rgb(211, 248, 45);
    width: 250px;
    height: 350px;
    margin: 0 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.title{
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
}
img{
    width: 100%;
    height :60%;
}
.price{
    text-align: center;
    border-top: 3px solid white;
}
.product_field{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.date{
    color: rgb(136, 25, 25);
    font-size: 100px;
    text-align:center;
}
.name_shop{
     color:rgb(118, 118, 202) ;
}
